﻿﻿@using hrmsystem.viewmodels
@using hrmsystem.datamodels


<!-- PAGE-HEADER -->
<div class="page-header">
	<h1 class="page-title">Grant Loan</h1>
	<div>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Grant Loan</li>
		</ol>
	</div>
</div>
<!-- PAGE-HEADER END -->
<!-- Row -->
<div class="row">
	<div class="col-md-12 col-xl-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Loan List</h3>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table border text-nowrap text-md-nowrap table-striped mb-0">
						<thead>
							<tr>
								<th>Employee Name</th>
								<th>Employee Code</th>
								<th>Amount</th>
								<th>Installment</th>
								<th>Total Pay</th>
								<th>Total Due</th>
								<th>Approve Date</th>
								<th>Status</th>
								<th class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
                             @if (Model.Count != 0)
								{
									@foreach (var item in Model)
									{
										<tr>
											<td>@item.FullName</td>
											<td>@item.EmployeeId</td>
											<td>@item.Amount</td>
											<td>@item.Installment</td>
											<td>@item.ApprovalDate</td>
											<td>@item.Status</td>

											<td class="text-center">
												<a class="btn btn-pill btn-primary btn_edit" dataid="@item.Id"><i class="fa fa-pencil"></i></a>
											</td>
										</tr>
									}
								}
								else
								{
									<tr>
										<td class="text-center" colspan="7">
											<i >Data not found</i>
										</td>
									</tr>
								}

                        </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Row -->
