﻿ <!--APP-SIDEBAR-->
<div class="sticky">
	<div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
	<div class="app-sidebar">
		<div class="side-header">
			<a class="header-brand1" href="index.html">
				<img src="../assets/images/brand/logo-white.png" class="header-brand-img desktop-logo" alt="logo">
				<img src="../assets/images/brand/icon-white.png" class="header-brand-img toggle-logo"
					 alt="logo">
				<img src="../assets/images/brand/icon-dark.png" class="header-brand-img light-logo" alt="logo">
				<img src="../assets/images/brand/logo-dark.png" class="header-brand-img light-logo1"
					 alt="logo">
			</a>
		<!-- LOGO -->
		</div>



		<div class="main-sidemenu">
			<div class="slide-left disabled" id="slide-left">
				<svg xmlns="http://www.w3.org/2000/svg"
					 fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
					<path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
				</svg>
			</div>
			<ul class="side-menu">
				
				<!-- DASHBOARD -->
				<li class="slide">
					<a class="side-menu__item has-link" data-bs-toggle="slide" href="index.html">
						<i class="side-menu__icon fe fe-home"></i><span class="side-menu__label">Dashboard</span>
					</a>
				</li>
				<!-- ORGANIZATION -->
				<li class="slide">
					<a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
						<i class="side-menu__icon fa fa-building-o"></i>
						<span class="side-menu__label">Organization</span>
						<i class="angle fe fe-chevron-right"></i>
					</a>
					<ul class="slide-menu ">
						<li class="panel sidetab-menu">
							<div class="panel-body tabs-menu-body p-0 border-0">
								<div class="tab-content">
									<div class="tab-pane active">
										<ul class="sidemenu-list">											
											<li><a  class="slide-item"> Department</a></li>
											<li><a  class="slide-item"> Designation</a></li>
										</ul>
									</div>

								</div>
							</div>
						</li>
					</ul>
				</li>
				<!-- EMPLOYEES -->
				<li class="slide">
					<a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
						<i class="side-menu__icon fe fe-users"></i><span class="side-menu__label">Employees</span><i class="angle fe fe-chevron-right"></i>
					</a>
					<ul class="slide-menu">
						<li class="panel sidetab-menu">

							<div class="panel-body tabs-menu-body p-0 border-0">
								<div class="tab-content">
									<div class="tab-pane active">
										<ul class="sidemenu-list">
											<li><a  class="slide-item"> Employees</a></li>
											<li><a  class="slide-item"> Disciplinary</a></li>
											<li><a  class="slide-item"> Inactive User</a></li>

										</ul>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<!-- ATTENDANCE -->
				<li class="slide">
					<a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
						<i class="side-menu__icon bi-calendar2-check"></i><span class="side-menu__label">Attendance</span><i class="angle fe fe-chevron-right"></i>
					</a>
					<ul class="slide-menu">
						<li class="panel sidetab-menu">

							<div class="panel-body tabs-menu-body p-0 border-0">
								<div class="tab-content">
									<div class="tab-pane active" >
										<ul class="sidemenu-list">
											<li><a class="slide-item" asp-controller="Attendance" asp-action="AttendanceList"> Attendance List</a></li>
											<li><a class="slide-item" asp-controller="Attendance" asp-action="AddAttendance"> Add Attendance</a></li>
											<li><a class="slide-item" asp-controller="Attendance" asp-action="AttendanceReport"> Attendance Report</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<!-- LEAVE -->
				<li class="slide">
					<a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
						<i class="side-menu__icon fe fe-user-x"></i><span class="side-menu__label">Leave</span><i class="angle fe fe-chevron-right"></i>
					</a>
					<ul class="slide-menu">
						<li class="panel sidetab-menu">

							<div class="panel-body tabs-menu-body p-0 border-0">
								<div class="tab-content">
									<div class="tab-pane active" >
										<ul class="sidemenu-list">
											<li><a class="slide-item"> Holiday</a></li>
											<li><a class="slide-item"> Leave Type</a></li>
											<li><a class="slide-item"> Leave Application</a></li>
											<li><a class="slide-item"> Earned Leave</a></li>
											<li><a class="slide-item"> Report</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<!-- PROJECT -->
				<li class="slide">
					<a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
						<i class="side-menu__icon ion-clipboard"></i><span class="side-menu__label">Project</span><i class="angle fe fe-chevron-right"></i>
					</a>
					<ul class="slide-menu">
						<li class="panel sidetab-menu">

							<div class="panel-body tabs-menu-body p-0 border-0">
								<div class="tab-content">
									<div class="tab-pane active" >
										<ul class="sidemenu-list">
											<li><a class="slide-item"> Projects</a></li>
											<li><a class="slide-item"> Task List</a></li>
											<li><a class="slide-item"> Field Visit</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<!-- PAYROLL -->				
				<li class="slide">
					<a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
						<i class="side-menu__icon ti-receipt"></i><span class="side-menu__label">Payroll</span><i class="angle fe fe-chevron-right"></i>
					</a>
					<ul class="slide-menu">
						<li class="panel sidetab-menu">

							<div class="panel-body tabs-menu-body p-0 border-0">
								<div class="tab-content">
									<div class="tab-pane active" >
										<ul class="sidemenu-list">
											<li><a class="slide-item"> Payroll List</a></li>
											<li><a class="slide-item"> Generate Payslip</a></li>
											<li><a class="slide-item"> Payslip Report</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<!-- LOAN -->
				<li class="slide">
					<a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
						<i class="side-menu__icon fa fa-money"></i><span class="side-menu__label">Loan</span><i class="angle fe fe-chevron-right"></i>
					</a>
					<ul class="slide-menu">
						<li class="panel sidetab-menu">

							<div class="panel-body tabs-menu-body p-0 border-0">
								<div class="tab-content">
									<div class="tab-pane active">
										<ul class="sidemenu-list">
											<li><a class="slide-item"> Grant Loan</a></li>
											<li><a class="slide-item"> Loan Installment</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<!-- ASSETS -->
				<li class="slide">
					<a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
						<i class="side-menu__icon fe fe-grid"></i><span class="side-menu__label">Assets</span><i class="angle fe fe-chevron-right"></i>
					</a>
					<ul class="slide-menu">
						<li class="panel sidetab-menu">

							<div class="panel-body tabs-menu-body p-0 border-0">
								<div class="tab-content">
									<div class="tab-pane active" >
										<ul class="sidemenu-list">
											<li><a class="slide-item"> Assets Category</a></li>
											<li><a class="slide-item"> Assets List</a></li>
											<li><a class="slide-item"> Logistic Support</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<!-- NOTICE -->
				<li class="slide">
					<a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
						<i class="side-menu__icon fe fe-bell"></i><span class="side-menu__label">Notice</span>
					</a>
				</li>
				<!-- SETTING -->
				<li class="slide">
					<a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
						<i class="side-menu__icon fe fe-settings"></i><span class="side-menu__label">Setting</span>
					</a>
				</li>
			</ul>


			<div class="slide-right" id="slide-right">
				<svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
					 width="24" height="24" viewBox="0 0 24 24">
					<path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
				</svg>
			</div>
		</div>
	</div>
</div>
<!--/APP-SIDEBAR-->