﻿@using hrmsystem.datamodels
@model TblDesignation
@{
    ViewData["Title"] = "Edit Designation";
}
<div class="card mb-lg-0">
    <div class="card-body mb-lg-0">
        <h4 mb-2>@ViewData["Title"]</h4>
        <form id="form_edit">
            <input type="hidden" id="Id" name="Id" value="@Model.Id">
            <div class="form-group row mb-2">
                <label for="DesignationName" class="col-sm-4 col-form-label">Designation Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="DesignationName" id="DesignationName" value="@Model.DesignationName">
                </div>
            </div>
            <div class="modal-footer mb-lg-0">
                <button type="submit" class="btn btn-primary btn-pill">Submit</button>
                <a class="btn btn-secondary btn-pill btn-test" asp-controller="Designation" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>

<script>
$(document).ready(function () {
    $("#form_edit").validate({
        errorClass: "text-danger",
        rules: {
            DesignationName: {
                required: true,
                minlength: 8,
            }
        },
        messages: {
            DesignationName: {
                required: "Please fill name Designation!",
                minlength: "The Name must consist of at least 8 character!",
            }
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize();
            $.ajax({
                url: "/Designation/Edit",
                type: "POST",
                dataType: "json",
                data: dataForm,
                success: function (respon) {
                    var data = respon.dataRespon
                    if (data.success) {
                        $("#myModal").modal("hide");
                        Swal.fire({
                            icon: 'success',
                            title: 'Data has been updated',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        setTimeout(function () {
                            window.location.reload();
                        }, 1600);
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: data.message
                        });
                    }
                }
            })
        }
    })
});
</script>

