﻿@{
    ViewData["Title"] = "Add Attendance";
}

<!--div-->
<div class="card" id="modal">
    <div class="card-header border-bottom-0">
        <div class="card-title">
            @ViewData["Title"]
        </div>
    </div>

	@*BELUM ADA DATANYA*@
	<div class="card">
		<div class="card-body">
			<div class="card-title">@ViewData["Title"]</div>
			<form asp-action="Create" method="post" enctype="multipart/form-data" id="form_input">
				<p>
					Import attendance upload only CSV file
				</p>
				<div class="mb-4 row">
					<label for="ImageFile" class="col-sm-4 col-form-label">Choose File</label>
					<div class="col-sm-8">
						<input type="file" class="form-control" id="ImageFile" name="ImageFile" value="">
					</div>
				</div>

				<div class="modal-footer">
					<div class="col-sm-12">
						<button type="submit" style="float:right" class="btn btn-primary btn-rounded">Save</button>
						<a class="btn btn-outline-secondary btn-rounded" asp-controller="Attendance" asp-action="AttendanceList">Close</a>
					</div>
				</div>
			</form>

		</div>
	</div>
<!--/div-->
@*
<script>
	$("#form_input").validate({
		errorClass: "text-danger",
		rules:{
				ImageFile: {
					required: true,
					typeFile: "csv",
					uploadFile: true,
				}
		},
		messages:{
				ImageFile: {
					required: "Please fill Image",
					typeFile: "Please upload csv",
					uploadFile: "Please upload file max sixe 1MB",
				}
		},
		submitHandler: function (form) {
			//console.log("ok masuk")
			var formData = new FormData()
			var dataForm = $(form).serializeArray()

			$.each(dataForm, function (key, input) {
				formData.append(input.name, input.value)
			})

			var file = $("#ImageFile").prop("files")
			if (file.length > 0) {
				formData.append("ImageFile", file[0])
			}

			$.ajax({
				url: "/Attendance/AddBulkAttendance",
				type: "POST",
				dataType: "json",
				data: formData,
				contentType: false,
				processData: false,
				success: function (respon) {
					var data = respon.dataRespon
					if (data.success) {
						$(".modal").modal("hide")
						toastr.success(
							data.message,
							'',
							{
								timeOut: 500,
								fadeOut: 500,
								onHidden: function () {
									window.location.reload()
								}
							}
						)
					}
					else
						toastr.error(data.message)
				}
			})
		}
	})
</script>*@