﻿@{
	ViewData["Title"] = "Attendance";
}

<!-- PAGE-HEADER -->
<div class="page-header">
	<h1 class="page-title">Attendance</h1>
	<div>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
			<li class="breadcrumb-item active" aria-current="page">Attendance</li>
		</ol>
	</div>
</div>

<div class="btn-list pb-3">
	<a class="btn btn-primary btn-pill" asp-controller="Attendance" asp-action="AttendanceList"><i class="fe fe-plus me-2"></i>Attendance List</a>
	<a class="btn btn-primary btn-pill"><i class="fe fe-menu"></i> Leave Application</a>
</div>

