﻿@using hrmsystem.viewmodels
@using hrmsystem.datamodels


@{
	ViewData["Title"] = "Attendance List";
}

<!-- PAGE-HEADER -->
<div class="page-header">
	<h1 class="page-title">@ViewData["Title"]</h1>
	<div>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
			<li class="breadcrumb-item active" aria-current="page">Attendance List</li>
		</ol>
	</div>
</div>

<div class="btn-list pb-3">
	<a class="btn btn-primary btn-pill" asp-controller="Attendance" asp-action="AddAttendance"><i class="fe fe-plus me-2"></i>Add Attendance</a>
	<a class="btn btn-primary btn-pill" @*id="btn_add"*@><i class="fe fe-menu"></i> Add Bulk Attendance</a>
	<a class="btn btn-primary btn-pill" asp-controller="Attendance" asp-action="AttendanceReport"><i class="fe fe-plus me-2"></i>Attendance Report</a>
</div>

<!-- PAGE-HEADER END -->


	<!-- Row -->
	<div class="row row-sm">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">@ViewData["Title"]</h3>
				</div>
				<div class="card-body">
					<div class="table-responsive">
					<table id="file-datatable" class="table table-bordered text-nowrap key-buttons border-bottom">
							<thead>
								<tr>
									<th class="border-bottom-0">Employee Name</th>
									<th class="border-bottom-0">PIN</th>
									<th class="border-bottom-0">Date</th>
									<th class="border-bottom-0">Sign In</th>
									<th class="border-bottom-0">Sign Out</th>
									<th class="border-bottom-0">Working Hour</th>
									<th class="border-bottom-0">Action</th>
								</tr>
							</thead>
							<tbody>
								
								@if (Model.Count != 0)
								{
									@foreach (var item in Model)
									{
										<tr>
											<td>@item.Fullname</td>
											<td>@item.Pin</td>
											<td>@item.AttendanceDate.ToString("dd-MM-yyyy")</td>
											<td>@item.SignInTime.ToString("HH:mm")</td>
											<td>@item.SignOutTime.ToString("HH:mm")</td>
											<td>@item.WorkingHour.ToString(@"h\:mm")</td>
											<td class="text-center">
												<a class="btn btn-pill btn-primary btn_edit" dataid="@item.Id"><i class="fa fa-pencil"></i></a>
											</td>
										</tr>
									}
								}
								else
								{
									<tr>
										<td class="text-center" colspan="7">
											<i >Data not found</i>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Row -->


<script>
	//$(document).ready(function () {
	//	$('#datatable-export').DataTable({
 //               "responsive": true,
	//			"dom": '<l<"position-relative"B>f<rt>ip>',
 //               "order": [
 //                   [0, "desc"]
 //               ],
 //               "lengthChange": true,
 //               "lengthMenu": [
 //                   [25, 50, 100, -1],
 //                   [25, 50, 100, "Semua"]
 //               ],
 //               "autoWidth": true,
 //               "buttons": [
	//				{
 //                       extend: 'excel',
 //                       className: 'btn btn-info'
 //                   },
 //                   {
 //                       extend: 'pdf',
 //                       className: 'btn btn-success',
                        
 //                   },
 //                   {
 //                       extend: 'print',
 //                       className: 'btn btn-success',
                        
 //                   },
 //                   {
 //                       extend: 'colvis',
 //                       className: 'btn btn-info'
 //                   },
 //               ],
 //           });
 //       });
	$(".btn_edit").click(function () {
		var id = $(this).attr("dataid");
		$(".modal-title").text("Edit Attendance");
		$("#myModal_body").empty();
		$("#myModal_body").load("/Attendance/EditAttendance?id=" + id)
		$("#myModal").modal("show");
	});
    </script>