﻿@using hrmsystem.viewmodels
@model VMTblAttendance
@{
	ViewData["Title"] = "Attendance";
}





<div class="card">
	<div class="card-header">
		<h4 class="card-title">@ViewData["Title"]</h4>
	</div>
	<div class="card-body">
		<form id="form_input">
			<input type="hidden" name="Id" value="@Model.Id" />
			<div class="form-group">
				<label for="EmployeeID" class="col-sm-4 col-form-label">Employee</label>
				@Html.DropDownList("EmployeeID",
				new SelectList(ViewBag.ListEmployee, "Id", "Fullname"),
				"-- Choose Employee --",
				new { @class="form-control form-select select2" }
				)
				<span class="text-danger" id="validate_EmployeeID"></span>
			</div>

			<div class="form-group">
				<label for="AttendanceDate" class="form-label">Select Date</label>
				<div class="input-group">
					<div class="input-group-text">
						<i class="fa fa-calendar tx-16 lh-0 op-6"></i>
					</div>
					<input type="text" class="form-control fc-datepicker" id="AttendanceDate" name="AttendanceDate" value="@Model.AttendanceDate" placeholder="MM/DD/YYYY">
				</div>
				<span class="text-danger" id="validate_AttendanceDate"></span>
			</div>

			<div class="form-group">
				<label for="SignInTime" class="form-label">Sign In Time</label>
				<div class="wd-150 mg-b-30">
					<div class="input-group">
						<div class="input-group-text">
							<i class="fa fa-clock-o tx-16 lh-0 op-6"></i>
						</div>
						<!-- input-group-text -->
						<input class="form-control" id="SignInTime" name="SignInTime" value="@Model.SignInTime" placeholder="Set time" type="text">
					</div>
				</div>
				<span class="text-danger" id="validate_SignInTime"></span>
			</div>


			<div class="form-group">
				<label for="SignOutTime" class="form-label">Sign Out Time</label>
				<div class="wd-150 mg-b-30">
					<div class="input-group">
						<div class="input-group-text">
							<i class="fa fa-clock-o tx-16 lh-0 op-6"></i>
						</div>
						<!-- input-group-text -->
						<input class="form-control" id="SignOutTime" name="SignOutTime" value="@Model.SignOutTime" placeholder="Set time" type="text">
					</div>
				</div>
				<span class="text-danger" id="validate_SignOutTime"></span>
			</div>

			<div class="form-group">
				@*dropdown HTML, nanti ubah sesuai kebutuhan placenya aja yak ini asal bisa jalan dulu*@
				<label for="Place" class="form-label">Place</label>
				<select name="Place" id="Place" value="Select" class="form-control form-select select2">
					<option value="">Select Here</option>
					@if (Model.Place == "Office")
					{
						<option value="Office" selected>Office</option>
						<option value="Field">Field</option>
					}
					else
					{
						<option value="Office">Office</option>
						<option value="Field" selected>Field</option>
					}

				</select>
				<span class="text-danger" id="validate_Place"></span>
			</div>

			<button class="btn btn-pill btn-primary mt-4 mb-0">Submit</button>
			<button id="btn_cancel" class="btn btn-pill btn-danger mt-4 mb-0">Cancel</button>
		</form>
	</div>
</div>


<script>
	$("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			EmployeeID: "required",
			AttendanceDate: "required",
			SignInTime: "required",
			SignOutTime: "required",
			Place: "required"
		},
		messages: {
			EmployeeID: "Choose Employee",
			AttendanceDate: "Choose date",
			SignInTime: "Please choose your time",
			SignOutTime: "Please choose your time",
			Place: "Choose your place"
		},
		submitHandler: function (form) {
			var dataForm = $(form).serialize();
			$.ajax({
				url: "/Attendance/EditAttendance",
				type: "POST",
				dataType: "JSON",
				data: dataForm,
				success: function (respon) {
					var data = respon.dataRespon
					if (data.success) {
						$("#modal_sm").modal("hide")
						Swal.fire({
							icon: 'success',
							title: data.message,
							showConfirmButton: false,
							timer: 1200
						});
						setTimeout(function () {
							window.location.reload();
						}, 1300);
					}
					else {
						Swal.fire({
							icon: 'error',
							title: 'Warning!',
							text: data.message
						});
					}
				}
			})
		}
	})


	$('.fc-datepicker').datepicker({
		showOtherMonths: true,
		selectOtherMonths: true
	});

	var $datepicker = $('#AttendanceDate');
	$datepicker.datepicker();
	$datepicker.datepicker('setDate', new Date());

	$('#SignInTime').timepicker({});
	$('#SignOutTime').timepicker({});
	$("#btn_cancel").click(function () {
		$("#EmployeeID").val("")
		$("#AttendanceDate").val("")
		$("#SignInTime").val("")
		$("#SignOutTime").val("")
		$("#Place").val("")
		$("#validate_EmployeeID").empty()
		$("#validate_AttendanceDate").empty()
		$("#validate_SignOutTime").empty()
		$("#validate_SignInTime").empty()
		$("#validate_Place").empty()
	});

</script>