﻿@using hrmsystem.datamodels;
@model TblDepartment;

<form asp-action="Edit" method="post" id="form_edit">
	<input type="hidden" name="Id" value="@Model.Id" />
	<div class="mb-3">
		<label for="DepartmentName" class="col-form-label">Department Name:</label>
		<input type="text" class="form-control" id="DepartmentName" name="DepartmentName" value="@Model.DepartmentName">
	</div>
	<div class="modal-footer">
		<button class="btn ripple btn-success" type="submit">Save changes</button>
		<button class="btn ripple btn-danger" data-bs-dismiss="modal" type="button">Close</button>
	</div>
</form>

<script>
    $(document).ready(function() {
        $("#form_edit").validate({
            errorClass: "text-danger",
            rules: {
                DepartmentName: {
                    required: true,
                    minlength: 3
                }
            },
            messages: {
                DepartmentName: {
                    required: "Please fill department name",
                    minlength: "Please enter at least 3 characters."
                }
            },
            submitHandler: function (form) {
                var dataForm = $(form).serialize()

                $.ajax({
                    type: "post",
                    url: "/Department/Edit",
                    dataType: "json",
                    data: dataForm,
                    success: function (respon) {

                        var data = respon.dataRespon
                        if (data.success) {
                            $("#modal_sm").modal("hide")
                            Swal.fire({
                                icon: 'success',
                                title: data.message,
                                showConfirmButton: false,
                                timer: 1200
                            });
                            setTimeout(function () {
                                window.location.reload();
                            }, 1300);
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Warning!',
                                text: data.message
                            });
                        }
                    }
                })
            }
        })
    })
</script>