﻿@using hrmsystem.datamodels


<!-- PAGE-HEADER -->
<div class="page-header">
    <h1 class="page-title">Department</h1>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Department</li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->

<!-- Row -->
<div class="row">
    <div class="col-md-12 col-xl-5">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add Department</h4>
            </div>
            <div class="card-body">
                <form id="form_input">
                    <div class="">
                        <div class="form-group">
                            <label for="DepartmentName" class="form-label">Department Name</label>
                            <input type="text" class="form-control" id="DepartmentName" name="DepartmentName">
                            <span id="validate_DepartmentName" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-pill btn-primary mt-4 mb-0">Save</button>
                    <button type="button" id="btn_cancel" class="btn btn-pill btn-danger mt-4 mb-0">Cancel</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-7">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Department List</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table border text-nowrap text-md-nowrap table-striped mb-0">
                        <thead>
                            <tr>
                                <th>Department Name</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(Model.Count != 0)
                            {
                                @foreach(var item in Model)
                                {
                                    <tr>
                                        <td>@item.DepartmentName</td>
                                        <td class ="text-center">
                                            <a class="btn btn-pill btn-primary btn_edit" dataid="@item.Id"><i class="fa fa-pencil"></i></a>
                                            <a class="btn btn-pill btn-danger text-white btn_delete" dataid="@item.Id" nama="@item.DepartmentName"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        <i>Data not found</i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            DepartmentName: {
                required: true,
                minlength: 3
            }
        },
        messages: {
            DepartmentName: {
                required: "Please fill department name",
                minlength: "Please enter at least 3 characters."
            }
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()

            $.ajax({
                type: "post",
                url: "/Department/Create",
                dataType: "json",
                data: dataForm,
                success: function (respon) {
                    var data = respon.dataRespon
                    if (data.success) {
                        Swal.fire({
                            icon: 'success',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 1200
                        });
                        setTimeout(function () {
                            window.location.reload();
                        }, 1300);
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Warning!',
                            text: data.message
                        });
                    }
                }
            })
        }
    })

    $(".btn_edit").click(function () {
        var id = $(this).attr("dataid");
        $(".modal-title").text("Edit Department");
        $("#myModal_body").empty();
        $("#myModal_body").load("/Department/Edit?id=" + id)
        $("#myModal").modal("show");
    });

    $("#btn_cancel").click(function () {
        $("#DepartmentName").val("")
        $("#validate_DepartmentName").empty()
    });

    $(".btn_delete").click(function () {
        var id = $(this).attr("dataid")
        var name = $(this).attr("nama")

        Swal.fire({
            title: 'Are you sure delete this ' + name + ' ?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/Department/SureDelete?id=" + id,
                    type: "POST",
                    dataType: "json",
                    success: function (respon) {
                        var data = respon.dataRespon
                        if (data.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Data has been deleted',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            setTimeout(function () {
                                window.location.reload();
                            }, 1600);
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: data.message
                            });
                        }
                    }
                })
            }
        })
    });
</script>